body{
    height: 100vh;
    background-color: brown;
    background-size: cover;
}
form{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
    font-style: italic;
    color: white;
}
h3{
    font-size: 20px;
    font-style: italic;
    color: white;
}
li{
    list-style-type: none;
    color: white;
}
button{
    border: 0;
    border-radius: 4px;
    width: 30px;
}
#name{
    height: 30px;
    width: 300px;
    opacity: 0.5;
}
#write{
    width: 100%;
    opacity: 0.5;
}
#write-form{
    display: inline;
    width: 100%;
}
.main{
    height: 100vh;
    position: relative;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.time{
    font-size: 40px;
    font-style: italic;
    color: white;
    padding: 0px 15px;
    border: 1px solid white;
}
.list{
    display: inline;
    width: 80%;
}
.a-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F5FA481A89002C);
}
.b-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F5FB481927002F);
}
.c-body{
    background-image: url(https://i1.ruliweb.com/img/5/3/2/9/5329F5FD4818450030);
}
.d-body{
    background-image: url(https://i1.ruliweb.com/img/5/3/2/9/5329F5FE4817EA0031);
}
.e-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F5FF4818C5002E);
}
.f-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F600481B5A002E);
}
.g-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F602481ACC002E);
}
.h-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6034C17CA0029);
}
.i-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6054C1B8B0028);
}
.j-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6064C18A70027);
}
.k-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6074C1BDC0026);
}
.l-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6084C1BFC0027);
}
.m-body{
    background-image: url(https://i3.ruliweb.com/img/5/3/2/9/5329F8544F1086002B);
}
.n-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F6094C1C040028);
}
.o-body{
    background-image: url(https://i2.ruliweb.com/img/5/3/2/9/5329F60A4C1B4C0028);
}
.p-body{
    background-image: url(https://i1.ruliweb.com/img/5/3/2/9/5329F60B4746170001);
}
.hidden{
    display: none;
}