body{
    height: 100vh;
    background-color: brown;
    background-size: cover;
}
form{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
    font-style: italic;
    color: white;
}
h3{
    font-size: 20px;
    font-style: italic;
    color: white;
}
li{
    list-style-type: none;
    color: white;
}
button{
    border: 0;
    border-radius: 4px;
    width: 30px;
}
#name{
    height: 30px;
    width: 300px;
    opacity: 0.5;
}
#write{
    width: 100%;
    opacity: 0.5;
}
#write-form{
    display: inline;
    width: 100%;
}
.main{
    height: 100vh;
    position: relative;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.time{
    font-size: 40px;
    font-style: italic;
    color: white;
    padding: 0px 15px;
    border: 1px solid white;
}
.list{
    display: inline;
    width: 80%;
}
.a-body{
    background-image: url(img/1.jpeg);
}
.b-body{
    background-image: url(img/2.jpeg);
}
.c-body{
    background-image: url(img/3.jpeg);
}
.d-body{
    background-image: url(img/4.jpeg);
}
.e-body{
    background-image: url(img/5.jpeg);
}
.f-body{
    background-image: url(img/6.jpeg);
}
.g-body{
    background-image: url(img/7.jpeg);
}
.h-body{
    background-image: url(img/8.jpeg);
}
.i-body{
    background-image: url(img/9.jpeg);
}
.j-body{
    background-image: url(img/10.jpeg);
}
.k-body{
    background-image: url(img/11.jpeg);
}
.l-body{
    background-image: url(img/12.jpeg);
}
.m-body{
    background-image: url(img/13.jpeg);
}
.n-body{
    background-image: url(img/14.jpeg);
}
.o-body{
    background-image: url(img/15.jpeg);
}
.p-body{
    background-image: url(img/16.jpeg);
}
.q-body{
    background-image: url(img/17.jpeg);
}
.r-body{
    background-image: url(img/18.jpeg);
}
.hidden{
    display: none;
}